<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="PM01_519_YarakovEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD-KIP\SQLEXPRESS;initial catalog=PM01_519_Yarakov;user id=sa;password=1qaz!QAZ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PM01_519_YarakovEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BD-KIP\SQLEXPRESS;initial catalog=PM01_519_Yarakov;user id=sa;password=1qaz!QAZ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>